<div class="site-wrapper" id="intro">
  <div class="site-wrapper-inner">
    <div class="inner cover">
      <h1 class="cover-heading">LOAN TRUONG</h1>
      <p class="lead">Developpeuse Full Stack JavaScript junior & UI/UX designer</p>
    </div>
  </div>
</div>

<div class="site-wrapper" id="about" ng-show="$show">
  <div class="site-wrapper-inner">
    <div class="content-page">
      <div class="inner text-left ml-md-3">
        <p class="small-text font-italic">à propos</p>
        <h3>Je développe et créer pour vous des sites ergonomiques et moderne</h3>
        <p>4 années d'expérience en design d'interface, .....</p>
      </div>
    </div>
  </div>
</div>

<div class="site-wrapper" id="can-do" ng-show="$show">
  <div class="site-wrapper-inner">
    <div class="content-page">
      <div class="inner text-left">
        <div class="ml-md-3">
          <p class="small-text font-italic">mes compétences</p>
          <h3>Ce que j'
            <i class="fa fa-heart" aria-hidden="true"></i> faire</p>
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>UI design</h4>
        <ul class="list-unstyled">
          <li>Maquette</li>
          <li>Maquette</li>
          <li>Maquette</li>
          <li>Maquette</li>
        </ul>
        <p>logiciel : icon logiciel</p>
      </div>
      <div class="col">
        <h4>Front-End</h4>
        <ul class="list-unstyled">
          <li>Maquette</li>
          <li>Maquette</li>
          <li>Maquette</li>
          <li>Maquette</li>
        </ul>
        <p>logiciel : icon logiciel</p>
      </div>
      <div class="col">
        <h4>Back-End</h4>
        <ul class="list-unstyled">
          <li>Maquette</li>
          <li>Maquette</li>
          <li>Maquette</li>
          <li>Maquette</li>
        </ul>
        <p>logiciel : icon logiciel</p>
      </div>
    </div>
  </div>
</div>

<div class="site-wrapper" id="work" ng-show="$show">
  <div class="site-wrapper-inner">
    <div class="content-page">
      <div class="inner text-left ml-md-3">
        <p class="small-text font-italic">quelques projets</p>
        <p>
          <a href="#" class="btn btn-primary">design </a>|
          <a href="#" class="btn btn-secondary">code</a>
        </p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="color"></div>
        <div class="color2"></div>
        <div class="color"></div>
        <div class="color2"></div>
      </div>
    </div>
  </div>
</div>

<div class="site-wrapper" id="contact" ng-show="$show">
  <div class="site-wrapper-inner">
    <div class="content-page">
      <div class="inner text-left ml-md-3">
        <p class="small-text font-italic">me contacter</p>
        <h3>à la recherche d'une nouvelle collaboratrice ?</h3>
        <p>Je suis disponible dès mars 2018
          <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
        </p>
      </div>
    </div>
  </div>
</div>