<div class="cover-container">
      <nav class="nav nav-masthead flex-sm-column">
        <ul class="nav-principal list-unstyled">
          <li ui-sref="hello" ui-sref-active="active">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
            <div class="animated">Hello</div>
          </li>
          <li ui-sref="about" ui-sref-active="active">
            <i class="fa fa-id-card-o" aria-hidden="true"></i>
            <div class="animated ">à propos</div>
          </li>
          <li ui-sref="skill" ui-sref-active="active">
            <i class="fa fa-laptop" aria-hidden="true"></i>
            <div class="animated ">ce que je sais faire</div>
          </li>
          <li ui-sref="work" ui-sref-active="active">
            <i class="fa fa-desktop"></i>
            <div class="animated ">quelques projets</div>
          </li>
          <li ui-sref="contact" ui-sref-active="active">
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            <div class="animated ">Contact</div>
          </li>
        </ul>
      </nav>
</div>