<div class="cover-container">
  <div class="masthead">
    <div class="inner">
      <h3 class="masthead-brand">logo</h3>
      <nav class="nav nav-masthead flex-sm-column">
        <a ui-sref="hello" ui-sref-active="active" class="nav-link active">Hello</a>
        <a ui-sref="about" ui-sref-active="active" class="nav-link">About</a>
        <a ui-sref="skill" ui-sref-active="active" class="nav-link">skills</a>
        <a ui-sref="work" ui-sref-active="active" class="nav-link">Work</a>
        <a ui-sref="contact" ui-sref-active="active" class="nav-link">Contact</a>
      </nav>
    </div>
  </div>
</div>