<div class="site-wrapper" id="can-do">
  <div class="site-wrapper-inner">
    <div class="content-page">
      <div class="inner text-left">
        <div class="ml-md-3">
          <p class="small-text font-italic">mes compétences</p>
          <h3>Ce que j'
            <i class="fa fa-heart" aria-hidden="true"></i> faire</p>
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>UI design</h4>
        <ul class="list-unstyled">
          <li>Maquette</li>
          <li>Maquette</li>
          <li>Maquette</li>
          <li>Maquette</li>
        </ul>
        <p>logiciel : icon logiciel</p>
      </div>
      <div class="col">
        <h4>Front-End</h4>
        <ul class="list-unstyled">
          <li>Maquette</li>
          <li>Maquette</li>
          <li>Maquette</li>
          <li>Maquette</li>
        </ul>
        <p>logiciel : icon logiciel</p>
      </div>
      <div class="col">
        <h4>Back-End</h4>
        <ul class="list-unstyled">
          <li>Maquette</li>
          <li>Maquette</li>
          <li>Maquette</li>
          <li>Maquette</li>
        </ul>
        <p>logiciel : icon logiciel</p>
      </div>
    </div>
  </div>
</div>