<div class="site-wrapper" id="work">
  <div class="site-wrapper-inner">
    <div class="content-page">
      <div class="inner text-left ml-md-3">
        <p class="small-text font-italic">quelques projets</p>
        <p>
          <a href="#" class="btn btn-primary">design </a>|
          <a href="#" class="btn btn-secondary">code</a>
        </p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="color"></div>
        <div class="color2"></div>
        <div class="color"></div>
        <div class="color2"></div>
      </div>
    </div>
  </div>
</div>